:root {
  --primary: #F97316;
  --primary-hover: #EA580C;
  --secondary: #FB923C;
  --light-bg: #FFF7ED;
  --sidebar-dark: #7C2D12;
  --border-light: #FED7AA;
  --text-dark: #1F2937;
  --transition: all 0.3s ease;
}


/* ZEBRA TABLE */

.table-orange-zebra thead{
  background:#7C2D12;
  color:white;
}

.table-orange-zebra tbody tr:nth-child(odd){
  background:#FFF7ED;
}

.table-orange-zebra tbody tr:nth-child(even){
  background:#FED7AA;
}

.table-orange-zebra tbody tr:hover{
  background:#FDBA74;
  transition:0.2s;
}


/* SEARCH INPUT */

.search-input{
border:1px solid #F97316;
}

.search-input:focus{
border-color:#EA580C;
box-shadow:0 0 5px rgba(249,115,22,0.4);
}


/* ROW SELECT */

.rows-select{
border:1px solid #F97316;
}

.rows-select:hover{
border-color:#EA580C;
}


/* PAGINATION */

.pagination-orange .page-link{
color:#F97316;
border:1px solid #FED7AA;
}

.pagination-orange .page-link:hover{
background:#FFF7ED;
color:#EA580C;
}

.pagination-orange .page-item.active .page-link{
background:#F97316;
border-color:#F97316;
color:white;
}

.pagination-orange .page-item.disabled .page-link{
color:#ccc;
}


/* BUTTON STYLE */

.btn-primary{
background:#F97316 !important;
border-color:#F97316 !important;
}

.btn-primary:hover{
background:#EA580C !important;
}